@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background-color: black;
}

.nav-item a {
    font-family: "Special Elite", sans-serif;
}

.container-fluid {
    font-family: "Nunito", sans-serif;
}

#spotify {
    margin-bottom: -25px;
    padding-top: 5px
}

iframe {
    border-radius: 12px
}

.kinLabel {
    color: rgba(60, 110, 217, 255);
    margin-top: 20px;
    border: 1px solid rgba(60, 110, 217, 255);
    font-size: 18px;
    margin-bottom: 30px;
}

.tracksLabel {
    font-size: 18px;
    margin-bottom: 0;
}

#tracksCard {
    font-size: 16px;
    margin-top: 10px;
    width: fit-content;
}

#tracksCard p {
    margin-bottom: 0;
}

#buyKinButton {
    background-color: rgba(60, 110, 217, 255);
    font-size: 15px;
    margin-top: 10px;
}

#labelBg {
    background-image: url(" img/WhitechapelKinbg.jpg");
    background-position: center;
    background-size: contain;
    margin-top: 50px;
}

.prodLabel {
    color: white;
    padding-top: 40px;
    padding-bottom: 15px;
    font-size: 22px;
    text-align: center;
    font-family: "Special Elite", sans-serif;
}

.row-cols-2 .card-title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.row-cols-2 .card {
    border-radius: 20px;
}

.row-cols-2 .card-body {
    background: black;
    text-align: center;
    color: white;
    border-radius: 20px;
    font-size: 12px;
}

.row-cols-2 img {
    height: 250px;
    width: 250px;
    align-self: center;
    object-fit: cover;
    border-radius: 20px;
}

.card-body .price {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center
}

ul {
    list-style: none;
    margin-left: -20px;
    text-align: left;
}

.card-body a {
    color: white;
    text-decoration: underline;
    font-weight: 500;
}

.card-body i {
    font-size: 30px;
    cursor: pointer;
}

.card-body .btn {
    font-size: 12px;
    margin-bottom: 10px;
}

.card-body .dropdown-menu li {
    margin-left: 10px;
}

.card-img-top .picture2 {
    display: none;
}

.card-img-top:hover .picture1 {
    display: none;
}

.card-img-top:hover .picture2 {
    display: block;
}

#socialsLabel {
    font-family: "Special Elite", sans-serif;
    font-size: 20px;
    color: white;
    padding-top: 20px;
}

#socials i {
    padding: 0 10px 10px 10px;
    color: rgba(60, 110, 217, 255);
    font-size: 15px;
}




